a{
    text-decoration: none;
    color: black;
  }
  
  /* header */
  .header{
    background-color: rgb(210, 228, 223);
    border-bottom: 3px solid rgb(25, 179, 148);
    padding-block: 0.857rem;
  }
  .yy{
    display: flex;
    justify-content: space-between;
  }
  .a-header{
    text-decoration: none ;
    color: black;
  }
  
  
  /* nav */
  .nav-link{
    color: black;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.2s ease;
  }
  .active{
    color: rgb(25, 179, 148)! important;
  
  }
  .m{
    background-color: rgb(25, 179, 148)! important;
    border-radius: 50px;
    padding: 5.5px;
  }
  .nav-link:hover{
    color: rgb(25, 179, 148);
  }

/* 8//// */
 /* half-section    */
 .half-section{
    margin-top: 3rem;
    background-color: rgb(222, 228, 228);
    height: 5rem;
}

 body , html {
  overflow-x: hidden;
 }
.ffff{
    margin-top: 3rem;
}
/* ykkk */
.Cartttt{
  display: grid;

}



.min {
  width: 2rem;
  height: 2rem; 
  background-color: rgb(161, 219, 208);
  border-radius: 50%;
  display: inline-block; 
  text-align: center; 
  line-height: 2rem; 
}



body,html{
  overflow-x: hidden;
}



.cart{
  overflow-x: auto;
}
.butttton{
    padding: 13px;
    border-radius:15px ;
    background-color: rgb(25, 157, 130);
    width: 13rem;
    border: none;
    transition: all 0.3s ease;
    color: white;
    margin-bottom: 2.5rem;

}
.butttton:hover{
        background-color: rgb(114, 182, 167);
    }
.butttton1{
    padding: 14px;
    border-radius:8px ;
    background-color: rgb(25, 157, 130);
    width: 13rem;
    border: none;
    transition: all 0.3s ease;
    color: white;
    margin-bottom: 2.5rem;

}
.butttton1:hover{
    background-color: rgb(114, 182, 167);
}
.line{
    width: 100%;
    border-bottom: 4px solid rgb(114, 182, 167);

}
@media (max-width: 768px) {
  .btn {
      flex-direction: column !important;
      align-items: center !important;
  }

  .butttton {
      width: 100%;
      margin-bottom: 1rem;
  }
}
/* FORMMM */
.special-input{
    width: 100%;
    padding: 14px;
}
.-input1{
    width: 50%;
    padding: 14px;
}
/* tableeee */
td{
    color: rgb(114, 182, 167);
}

@media (max-width: 788px) {

  .div {
    height: auto;
    padding: 20px;
  }

  .imggg,
  .foorm {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .h55 h5 {
    font-size: 16px;
  }
  .innnp {
    width: 12rem;
    padding: 6px;
  }
  .btnnnnnnn {
    width: 6rem;
  }
  .address {
    padding-top: 3rem;
  }

  .butonnn {
    right: 0;
  }
  .img-home{
    padding-top: 3rem;
  }
}